Repository tony9402/algorithm-solutions, pull requests merged in 2024-02, with the labels that each got.

#13 [ADD] baekjoon 1822 Java Solution
  solutions/baekjoon/1822/Main.java
Labels: solution, Java, baekjoon

#15 1012 풀이
  solutions/baekjoon/1012/Main.java
Labels: solution, Java, baekjoon

#16 [ADD] leetcode 9 C++ solution
  solutions/leetcode/9/main.cpp
Labels: solution, C++, leetcode

#17 [ADD] programmers 181952 C++ solution
  solutions/programmers/181952/main.cpp
Labels: solution, C++, programmers

#18 [ADD] leetcode 9 Python solution
  solutions/leetcode/9/main.py
Labels: solution, Python, leetcode

#19 [ADD] hackerrank 8137 Mysql solution
  solutions/hackerrank/8137/main.sql
Labels: solution, hackerrank, Sql

#20 [ADD] baekjoon 21939 python solution
  solutions/baekjoon/21939/main.py
Labels: solution, Python, baekjoon

#21 [ADD] baekjoon 21939 C++ solution
  solutions/baekjoon/21939/main.cpp
Labels: solution, C++, baekjoon

#23 [ADD] baekjoon 11055 Java solution
  solutions/baekjoon/11055/Main.java
Labels: solution, Java, baekjoon

#24 [ADD] baekjoon 18232 Java solution
  solutions/baekjoon/18232/Main.java
Labels: solution, Java, baekjoon

#25 [ADD] baekjoon 25427 Java solution
  solutions/baekjoon/25427/Main.java
Labels: solution, Java, baekjoon

#26 [ADD] baekjoon 26597 Java solution
  solutions/baekjoon/26597/Main.java
Labels: solution, Java, baekjoon

#29 [ADD] baekjoon 25427 Java solution
  solutions/baekjoon/25427/Main.java
Labels: solution, Java, baekjoon

#30 [ADD] baekjoon 30979 cpp solution
  solutions/baekjoon/30979/main.cpp
Labels: solution, C++, baekjoon

#31 [ADD] baekjoon 14563 cpp solution
  solutions/baekjoon/14563/main.cpp
Labels: solution, C++, baekjoon

#33 [ADD] baekjoon 24499 cpp solution
  solutions/baekjoon/24499/main.cpp
Labels: solution, C++, baekjoon

#34 [ADD] baekjoon 1302 cpp solution
  solutions/baekjoon/1302/main.cpp
Labels: solution, C++, baekjoon

#35 [ADD] baekjoon 2210 cpp solution
  solutions/baekjoon/2210/main.cpp
Labels: solution, C++, baekjoon

#36 [ADD] baekjoon 21312 cpp solution
  solutions/baekjoon/21312/main.cpp
Labels: solution, C++, baekjoon

#37 [ADD] baekjoon 14697 cpp solution
  solutions/baekjoon/14697/main.cpp
Labels: solution, C++, baekjoon

#38 [ADD] baekjoon 20154 cpp solution
  solutions/baekjoon/20154/main.cpp
Labels: solution, C++, baekjoon

#39 [ADD] baekjoon 11663 cpp solution
  solutions/baekjoon/11663/main.cpp
Labels: solution, C++, baekjoon

#40 [ADD] baekjoon 1497 cpp solution
  solutions/baekjoon/1497/main.cpp
Labels: solution, C++, baekjoon

#41 [ADD] baekjoon 2212 cpp solution
  solutions/baekjoon/2212/main.cpp
Labels: solution, C++, baekjoon

#42 [ADD] baekjoon 2602 cpp solution
  solutions/baekjoon/2602/main.cpp
Labels: solution, C++, baekjoon

#43 [ADD] baekjoon 22856 cpp solution
  solutions/baekjoon/22856/main.cpp
Labels: solution, C++, baekjoon

#44 [ADD] baekjoon 1000 javascript(Node.js) solution
  solutions/baekjoon/1000/main.js
Labels: solution, Javascript, baekjoon

#45 [ADD] baekjoon 22856 javascript(Node.js) solution
  solutions/baekjoon/22856/main.js
Labels: solution, Javascript, baekjoon

#46 [ADD] baekjoon 14425 Go solution
  solutions/baekjoon/14425/main.go
Labels: solution, Go, baekjoon

#47 [ADD] baekjoon 16493 Java solution
  solutions/baekjoon/16493/Main.java
Labels: solution, Java, baekjoon

#48 [ADD] baekjoon 16493 Java solution 2
  solutions/baekjoon/16493/Main2.java
Labels: solution, Java, baekjoon

#49 [ADD] baekjoon 16493 Java solution 3
  solutions/baekjoon/16493/Main3.java
Labels: solution, Java, baekjoon

#50 [UPD] baekjoon 16493 Java solution 4
  solutions/baekjoon/16493/Main4.java
Labels: solution, Java, baekjoon

#51 [ADD] baekjoon 17614 cpp solution
  solutions/baekjoon/17614/main.cpp
Labels: solution, C++, baekjoon

#52 [ADD] baekjoon 9506 cpp solution
  solutions/baekjoon/9506/main.cpp
Labels: solution, C++, baekjoon

#53 [ADD] baekjoon 30457 cpp solution
  solutions/baekjoon/30457/main.cpp
Labels: solution, C++, baekjoon

#54 [ADD] baekjoon 25214 cpp solution
  solutions/baekjoon/25214/main.cpp
Labels: solution, C++, baekjoon

#55 [ADD] baekjoon 28286 cpp solution
  solutions/baekjoon/28286/main.cpp
Labels: solution, C++, baekjoon

#56 [ADD] baekjoon 14284 cpp solution
  solutions/baekjoon/14284/main.cpp
Labels: solution, C++, baekjoon

#57 [ADD] baekjoon 25427 cpp solution
  solutions/baekjoon/25427/main.cpp
Labels: solution, C++, baekjoon

#60 [ADD] baekjoon 28070 cpp solution 2
  solutions/baekjoon/28070/main2.cpp
Labels: solution, C++, baekjoon

#63 [ADD] baekjoon 1697 python solution
  solutions/baekjoon/1697/main.py
Labels: solution, Python, baekjoon

#62 [ADD] baekjoon 17142 python solution
  solutions/baekjoon/17142/main.py
Labels: solution, Python, baekjoon

#61 [ADD] baekjoon 2638 python solution
  solutions/baekjoon/2638/main.py
Labels: solution, Python, baekjoon

#64 [ADD] leetcode 2709 cpp solution
  solutions/leetcode/2709/main.cpp
Labels: solution, C++, leetcode

#65 [ADD] leetcode 2709 python solution
  solutions/leetcode/2709/main.py
Labels: solution, Python, leetcode
